<h1>The District</h1>

<p>
    Votre compte a été créé, veuillez confirmer votre adresse email en cliquant sur le lien suivant: <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon adresse email.</a>
    Ce lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>Merci, à bientôt chez The District.</p>
