{% extends 'base.html.twig' %}

{% block title %}Réinitialisation{% endblock %}

{% block body %}

<main class="min-vh-100">

    <div class="container">

        <div class="row">

            <div class="col col-md-6 col-lg-6 mx-auto">

                <p class="fs-1 mb-5 text-center">Nouveau mot de passe</p>

                <div class="fs-4">

                    {{ form_start(resetForm) }}

                        {{ form_row(resetForm.plainPassword) }}

                        <div class="text-center mt-3">
                            <button class="btn fw-medium mx-auto shadow-lg fs-5 rounded-4 bouton_categories" style="width: 10rem; height: 3rem;">
                                Réinitialiser
                            </button>
                        </div>

                    {{ form_end(resetForm) }}

                </div>

            </div>

        </div>

    </div>

</main>

{% endblock %}
