{% extends 'base.html.twig' %}

{% block title %}Hello TestController!{% endblock %}

{% block body %}

<!-- Afficher les données de la commande -->
<h1>Commande n°{{ commande.id }} du {{ commande.date|date('d/m/Y') }}</h1>


<!-- Afficher les détails de la commande -->
<h2>Détails de la commande</h2>

<p>Quantité :{% for detail in details %}{{ detail.quantite }}{% endfor %}</p>




{% endblock %}
