{% extends 'base.html.twig' %}

{% block title %}TEST{% endblock %}

{% block body %}

<div class="row d-flex justify-content-center">
    
    <div class="col-3">
    
        <p class="body_neon span_neon">OUVERT</p>

    </div>

</div>


{% endblock %}
