{% extends 'base.html.twig' %}

{% block title %}Confirmation de commande{% endblock %}

{% block body %}

<main>

    <div class="row text-center">

        <div class="col fs-3 m-5">

            <p>Commande créée avec succès !

                <br>

                Un email récapitulatif vous a été envoyé à 

                <span class="fw-medium">{{ app.user.email }}</span>.

                <br>

                Vous pouvez suivre la progression de votre commande dans votre 
                
                <a href="{{ path('app_compte') }}" class="lettres">espace compte</a>.
                
            </p>

        </div>

    </div>

    <div class="row mb-5">

        <a class="d-flex justify-content-center align-items-center fw-medium mx-auto shadow-lg fs-5 bouton_categories"
                id="precedent" style="width: 15rem; height: 3rem;"  href="{{ path('app_accueil') }}" role="button">

            Retour à l'accueil

        </a>

    </div>

</main>
{% endblock %}
