<!-- order_confirmation.html.twig -->
<style>
        .display_flex{
            display: flex;
        }
        .bold{
            font-weight: bold;
        }
        .medium{
            font-weight: bolder;
        }
        .justif_center{
            display: flex;
            justify-items: center;
        }
        .align_center{
            display: flex;
            align-self: center;
            margin-left: 1rem;
        }
        .border_table{
            border: 0.1rem solid #980848;
            border-radius: 0.5rem 0.5rem;
            padding: 0.5rem;
        }
        .marge_thead{
            margin-bottom: 2rem;
        }
        .logo_mail{
            width: 4rem; height: 4rem;
            border-radius: 0.5rem 0.5rem;
        }
        .plat_mail{
            width: 4rem; height: 4rem;
            border-radius: 0.5rem 0.5rem;
            border: 0.1rem solid lightgrey;
        }
        .marge{
            margin-left: 1rem;
        }
        .marge_2{
            margin-left: 2rem;
        }
        .marge_total{
            margin-left: 1.5rem;
        }
</style>


<header class='display_flex'>

    <img src="cid:logo" alt="Logo The District" class="logo_mail">
    <h1 class="align_center">Livraison de votre commande</h1>

</header>

<main>

<p>Chèr(e) {{ app.user.prenom }},</p>

{% if last_commande %}

<h3>
    Votre commande n° {{ last_commande.id }} du {{ last_commande.dateCommande | date('d/m/Y') }} a été livrée. 
    Votre facture est disponible en pièce-jointe  
</h3>

<br>

<p>Toute l'équipe vous remercie,</p>
<p>A bientôt chez The District.</p>

{% endif %}

</main>